html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width:320px;
    height: 320px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card img {
    width: 80%;
    height: 80%;
    user-select: none;
}